* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.head_title {
    width: 100%;
    height: 1rem;
    background: #8b9cac;
    font-size: 0.32rem;
    color: #fff;
    text-align: center;
    line-height: 1rem;
}

.tabbar {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.8rem;
    background: #8b9cac;
}

.tabbar div {
    font-size: 0.32rem;
    width: 33.33%;
    text-align: center;
    line-height: 0.76rem;
}

.tabbar div a {
    color: #fff;
    display: block;
    box-sizing: border-box;
}

.tabbar div a:hover {}

.tabbar_active {
    border-bottom: 2px solid #bfcdda;
}